body {
	overflow-x: hidden;
	background-image: url('/img/bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Comfortaa', cursive;
}

h1, h2, h3, .top-bar a { text-transform: lowercase !important; }

a { color: #666; }
a:hover { color: #f72; }

#logo:hover { background: none !important; }

.top-bar a { font-size: 1em !important; }

.top-bar a { color: #ccc !important; }
.top-bar a:hover {
	background: #555 !important;
	color: #fff !important;
}

.top-bar li.active a {
	background: none !important;
	color: #fff !important;
}

.top-bar .label {
	background: #f72;
	font-weight: bold;
	font-size: 1em;
}

#content {
	margin: .5em 1em 2em 1em;
}

#buy { font-size: 1.6em; }

.specs td {
	font-size: 1.4em;
	line-height: 1em;
}
.specs .key { opacity: .5; }

.full { width: 100%; }

.image-upload {
	position: relative;
	overflow: hidden;
}

.image-upload .button { margin: 0; }

.image-upload input[type='file'] {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	opacity: 0;
	border: none;
}

.trans-opacity {
	transition: opacity .5s;
}

.product.th {
	position: relative;
}

.product.th:hover .action.row {
	opacity: 1;
}

.product.th .action.row {
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.product.th .action.row .columns,
.product.th .action.row .button {
	height: 100%;
}

.product.th .button {
	opacity: 0.9;
}
.product.th .button:hover {
	opacity: 1;
}

.y-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}